---
layout: default_2
header_image: "/assets/images/bg/blog-bg.jpg"
title: "Wir sind eine Wohnprojekt-Initiative in Karlsruhe"
description: "Gemeinsam wollen wir Wohnraum für 100 Personen und ein
Quartiersprojekt für alle schaffen. Unser Ziel: SOLidarisch LEben In KArlsruhe: Soleika.
Unter dem Dach des Mietshäuser Syndikats sollen in der Karlsruher Nordstadt dauerhaft bezahlbare, 
vom Immobilienmarkt unabhängige Mietwohnungen in einem attraktiven, 
energieeffizienten Gebäude aus ökologisch sinnvollen Baustoffen entstehen. Eine Architektur 
mit großzügigen Gemeinschaftsflächen ermöglicht Begegnung - 
für die Bewohner des Hauses, des neu entstehenden Viertels und darüber hinaus!"
---
{% include page_header.html %} <!-- Bild, Titel, Beschreibung und Navigation -->

{% include count_down.html %}
<br>
<br>
<div class="row">
	<div class="col-lg-12 text-center">
		<span class="h5 text-color text-uppercase">
			Unser Konzept
		</span>
	</div>
</div>
{% include konzept.html %}     <!-- Konzept -->
{% include testimonials.html %}
<div class="row">
	<div class="col-lg-12 text-center">
		<span class="h5 text-color text-uppercase">
			Projekt-Tagebuch
		</span>
	</div>
</div>
{% include blog.html %}