---
layout: default_2
header_image: "/assets/images/bg/blog-bg.jpg"
title: "Projekttagebuch"
description: "Um ein gemeinschaftliches Wohnen zu organisieren braucht es einen langen Atem. Bürokratische und finanzielle Hindernisse müssen aus dem Weg geräumt werden. Der Weg zum gemeinsamen Wohnen ist voller Überraschungen und vielleicht inspiriert er auch andere sich auf so eine Reise zu begeben. Und wer uns finanziell mit Krediten unterstützt, möchte bestimmt wissen wo wir gerade mit unserem Vorhaben stehen."
---

{% include page_header.html %}
{% include blog.html %}
