<!-- About Start -->
<section class="section about overflow-hidden">
	<div class="container">
		<div class="row">
			<!--div class="col-md-5">
				<div class="about-img">
					<img src="/assets/images/about/about_neu.jpg" alt="" class="img-fluid w-100"/>
				</div>
			</div-->
			<div class="col-lg-6 col-md-7 offset-lg-1 mt-5 mt-md-0">
				<span class="text-color h5 text-uppercase">Über uns</span>
				<!--h3 class="mb-4 mt-3">Das erste Syndikatsprojekt Karlsruhes</h3-->
				<p>Bereits seit 2018 sind wir auf der Suche nach einem geeigneten Ort in Karlsruhe - viel Zeit, in dem unsere 
					Gemeinschaft bereits zusammenwachsen konnte. 
					Bislang waren die Chancen und Rahmenbedingungen für Wohnprojekte in Karlsruhe leider nicht besonders gut. Nach zwei runden Tischen 
					mit dem Oberbürgermeister Mentrup und vielen Gesprächen mit Mitarbeitenden der Stadt und den Fraktionen sehen wir nun ein 
					Umsteuern! Die Konzeptvergabe für die Grundstückvergabe der "Zukunft Nord" im Herbst ist für uns 
					der nächste Meilenstein. Wir feilen ander Ausarbeitung - niedrige Mieten, ein hoher ökologischer Standard und die Förderung 
					von Gemeinschaft nach Innen und Außen sind drei unserer wichtigsten Ziele. </p> 
					
				<span class="text-color h4">Nachhaltigkeit und Gemeinschaft fördern - in allen Bereichen</span>	
				<p>Unsere Ideen und Werte und wie unsere Organisationsform diese unterstützt stellen wir im Bereich "Konzept" vor. Bis zur Verwirklichung
					müssen noch einige Meilensteine geschafft werden! Wir freuen uns über Unterstützter*innen - im Geiste, oder ganz konkret. 
					Wie das geht, steht im Bereich "Unterstützung".</p>
			</div>
		</div>
	</div>
</section>
<!-- About End -->
