<!-- Clients Start -->
<section class="section-sm bg-secondary">
	<div class="container">
		<div class="row clients-wrap">
			<div>
				<img src="/assets/images/clients/client-1.png" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="/assets/images/clients/client-2.png" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="/assets/images/clients/client-3.png" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="/assets/images/clients/client-4.png" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="/assets/images/clients/client-5.png" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="/assets/images/clients/client-3.png" alt="" class="img-fluid mx-auto">
			</div>
		</div>
	</div>
</section>
<!-- Clients End -->