<!-- Counter Start -->
<section class="section-sm counter-section bg-secondary position-relative">
	<img src="/assets/images/bg/cta-bg.png" alt="" class="overlay-shape">
	<div class="container">
		<div class="row">

			<div class="col-lg-3 col-md-6">
				<div class="counter-content d-flex mb-5 mb-lg-0">
					<i class="ti-heart mr-4"></i>
					<div>
						<h2 class="mb-0"><span class="counter">21</span></h2>
						<p class="text-capitalize mb-0">Erwachsene</p>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="counter-content d-flex mb-5 mb-lg-0">
					<i class="ti-face-smile mr-4"></i>
					<div>
						<h2 class="mb-0"><span class="counter">15</span></h2>
						<p class="text-capitalize mb-0">Kinder</p>
					</div>
				</div>
			</div>


			<div class="col-lg-3 col-md-6">
				<div class="counter-content d-flex">
					<i class=" ti-timer mr-4"></i>
					<div>
						<h2 class="mb-0"><span class="counter">??? </span></h2>
						<p class="text-capitalize mb-0">Monate zur Konzeptvergabe</p>
					</div>
				</div>
			</div>


			<div class="col-lg-3 col-md-6">
				<div class="counter-content d-flex mb-5 mb-lg-0">
					<i class="ti-location-pin mr-4"></i>
					<div>
						<h2 class="mb-0"><span class="counter">C-Areal</span></h2>
						<p class="text-capitalize mb-0">Karlsruhe</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>
<!-- Counter End -->
