  <footer class="section-sm footer-2">
	<div class="container">
		<div class="row align-items-center justify-content-md-between">
			<div class="col-12 col-lg-4">
				<div class="text-center text-lg-left"> <span>dizer. &copy; 2020 All Right Reserved</span></div>
			</div>
			<div class="col-lg-4 text-center col-12">
				<h3 class="text-white text-lowercase"><a href="{{site.url}}">dizer<span class="dot"></span></a></h3>
			</div>
			<div class="col-lg-4 col-12">
				<div class="text-center text-lg-right">
					<a href="#">Terms of Service <span class="mx-2">|</span></a>
					<a href="#">Privacy Policy</a>
				</div>
			</div>
		</div>
	</div>
</footer>