<!-- Slider Start -->
<section class="banner position-relative">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="banner-content">
					<h2 class="text-white">SOLEIKA</h2>
					<h3 class="text-white">(ehemals WoProKA)</h3>
					<p class="text-white mt-4 mb-5">Wir sind eine Gruppe von derzeit ca. 45 Menschen zwischen 1 und 70 Jahren. Im Raum Karlsruhe wollen wir gemeinsam ein generationenübergreifendes, soziales und solidarisches Wohnprojekt als Neubau realisieren. Wir leben und arbeiten alle in Karlsruhe und Umgebung, manche länger, manche weniger lang, und stecken in den unterschiedlichsten Lebenssituationen. Was uns verbindet, ist unser ökologisches Bewusstsein und der Wunsch, Entscheidungen gemeinsam zu treffen, um so die Umstände in denen wir leben aktiv zu gestalten. Wir sind seit 2020 am Start und engagieren uns dafür die Rahmbendingungen für WohnProjekte in Karlsruhe zu verbessern. Gemeinsam mit zwei weiteren Wonnprojekt-Gruppen wollen wir uns auf das sogenannten Experimentierfeld im C-Areal der Nordstadt Karlsruhe bewerben und damit einen neuen Stadtteil in Karlsruhe mitgestalten. </p>
					<a href="/contact" class="btn btn-secondary">Kontakt</a>
				</div>
			</div>
			<! ueberlagertes Bild Frau mit Zeigefinger nach oben -->
			<!--div class="banner-img d-none d-lg-block">
				<img src="/assets/images/banner/banner-3.png" alt="contact" class="img-fluid">
			</div-->
		</div>
	</div>
</section>
<!-- Slider End -->
