<!-- Service Start -->
<section class="service-2">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6">
				<div class="service-item mb-4 mb-lg-0 text-center px-4">
					<i class="ti-ruler-pencil text-color icon-md"></i>
					<h4 class="my-4">Brand Design</h4>
					<p>Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore et dolore magna.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6  border-left border-right">
				<div class="service-item mb-4 mb-lg-0 px-4 text-center">
					<i class="ti-announcement text-color icon-md"></i>
					<h4 class="my-4">Seo & Marketing</h4>
					<p>Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore et dolore magna.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="service-item mb-4 mb-lg-0 text-center px-4">
					<i class="ti-palette text-color icon-md"></i>
					<h4 class="my-4">Creative Design</h4>
					<p>Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore et dolore magna.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Service End -->