<!-- Slill Start -->
<section class="section skill">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 pr-6">
				<span class="h5 text-color text-uppercase">
					our skill
				</span>
				<h3 class="mb-5 mt-2">We are Design & Development Team.</h3>
				<div class="progress-block">
					<h6 class="text-uppercase">Branding</h6>
					<div class="progress">
					  <div class="progress-bar progress-bar-striped" data-percent="85">
					  	<span class="bg-primary skill-number">85</span>
					  </div>
					</div>
				</div>
					
				<div class="progress-block">
					<h6 class="text-uppercase">Consulting</h6>
					<div class="progress">
					  	<div class="progress-bar progress-bar-striped" data-percent="90">
					  		<span class="bg-primary skill-number">90</span>
					  	</div>
					</div>
				</div>
					
				<div class="progress-block">
					<h6 class="text-uppercase">Business</h6>
					<div class="progress">
					  	<div class="progress-bar progress-bar-striped" data-percent="75">
					  		<span class="bg-primary skill-number">75</span>
					  	</div>
					</div>
				</div>
				<div class="progress-block">
					<h6 class="text-uppercase">Promotion</h6>
					<div class="progress">
					  	<div class="progress-bar progress-bar-striped" data-percent="90">
					  		<span class="bg-primary skill-number">90</span>
					  	</div>
					</div>
				</div>
			</div>	

			<div class="col-lg-6 text-right mb-5">
				<div class="skill-img position-relative mb-4">
					<img src="/assets/images/about/pattern-skill.jpg" alt="" class="img-fluid">	
					<img src="/assets/images/about/skill.jpg" alt="" class="img-fluid position-absolute img-absolute">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Skill End -->