<!-- Slill Start -->
<section class="section skill pb-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<span class="h5 text-color text-uppercase">
					my skill
				</span>
				<h3 class="mb-5 mt-2">We are Design & Development Team.</h3>
				Dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore et dolore magna aliqua enim minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat.duis aute irure.sint occaecat cup
				idatat non proident sunt.
			</div>	

			<div class="col-lg-6 offset-lg-1 mb-5">
				<div class="progress-block skill-2-bg">
					<h6 class="text-uppercase">Branding</h6>
					<div class="progress">
					  <div class="progress-bar progress-bar-striped" data-percent="85">
					  	<span class="skill-number">85</span>
					  </div>
					</div>
				</div>
					
				<div class="progress-block skill-2-bg">
					<h6 class="text-uppercase">Consulting</h6>
					<div class="progress">
					  	<div class="progress-bar progress-bar-striped" data-percent="90">
					  		<span class="skill-number">90</span>
					  	</div>
					</div>
				</div>
					
				<div class="progress-block skill-2-bg">
					<h6 class="text-uppercase">Business</h6>
					<div class="progress">
					  	<div class="progress-bar progress-bar-striped" data-percent="75">
					  		<span class="skill-number">75</span>
					  	</div>
					</div>
				</div>
				<div class="progress-block skill-2-bg">
					<h6 class="text-uppercase">Promotion</h6>
					<div class="progress">
					  	<div class="progress-bar progress-bar-striped" data-percent="90">
					  		<span class=" skill-number">90</span>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Skill End -->