<!-- Testimonial Start -->
<section class="section testimonial position-relative">
	<div class="h60 bg-testimonial"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<span class="h5 text-color text-uppercase">
					Wer wir sind
				</span>
				<h3 class="mb-5 mt-2">Das sind einige von uns</h3>
			</div>
		</div>

		<div class="row testimonial-slider">
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4">
					<div class="img-block position-relative mb-4">
						<img src="/assets/images/team/test-1.jpg" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Hier könnte ein Satz von und über Barbara stehen.</p>
					<h5 class="mb-0 mt-2">Barbara</h5>
					<span class="text-color">Manager</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4">
					<div class="img-block position-relative mb-4">
						<img src="/assets/images/team/test-2.jpg" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Hier könnte ein Satz von und über Karin stehen.</p>
					<h5 class="mb-0 mt-2">Karin</h5>
					<span class="text-color">Manager</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4 pattern-bg">
					<div class="img-block position-relative mb-4">
						<img src="/assets/images/team/test-3.jpg" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Hier könnte ein Satz von und über Sascha und Theo stehen</p>
					<h5 class="mb-0 mt-2">Sascha und Theo</h5>
					<span class="text-color">Manager</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4 pattern-bg">
					<div class="img-block position-relative mb-4">
						<img src="/assets/images/team/test-4.jpg" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Hier könnte ein Satz von und über Marie stehen.</p>
					<h5 class="mb-0 mt-2">Marie</h5>
					<span class="text-color">Manager</span>
				</div>
			</div>
			
		</div>
	</div>
</section>
<!-- Testimonial End -->
